*{margin:0;padding:0;font-family: 'Roboto', sans-serif;outline: none;}
html {
    background-color: #151D21;
    color: #fff;
}

#particles-js {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
    height: 100vw;
}

#thing {
    height: 200px;
}

/* Navigation Stuff */
#navBar {
    z-index: 2;
    top: 0;
    padding: 10px;
    position: fixed;
}
#title {
    color: #fff;
    margin-top: 15px;
    margin-left: 20px;
}
#navBtns {

    right: 0px;
    top: 0px;
    position: fixed;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
}
.navBtn {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent; 
    color: #fff; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.navBtn:hover {
    background-color: #fff;
    color: #000;
}
.navBtn:active{
    outline: none;
}

#content {
    width: 100vw;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/* content */
#container {
    top: 100vw;
}

#contentTitle {
    font-size: 50px;
}

#textStuff {
    width: 50vw;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
}

#project-1 {
    float: left;
    height: 200px;

}
#project-2 {
    height: 200px;
    margin: 0 auto;
}
#project-3 {
    height: 200px;
    float: right;
}
/* footer */
footer {
    bottom: 0;
    position: fixed;
}